@charset "UTF-8";
/* 
COLORS:
light blue: #8e9efc
medium blue:#5a73fc
dark blue:#1c3eff
*/
/* --- Abstracts --- */
/* ------ color ------*/
/* --- */
/* ------ gird ------*/
/* ------ font ------ */
/* --- Base --- */
/* file animation sẽ chứa các keyframe */
/* --------------- hiệu ứng chữ tiêu đề --------------*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

/* --------------- hiệu ứng button ---------------- */
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* Chứa khởi tạo ban đầu (*, html, body,...) */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

/*------*/
html {
  font-size: 62.5%; }
  @media (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  padding: 3rem;
  box-sizing: border-box; }
  @media (max-width: 900px) {
    body {
      padding: 0px; } }

/* file typography sẽ chứa các setting về fontsize của body, phần text như heading */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6.2rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation: moveInLeft 1s ease-out;
    /*
        số lần lặp:
        animation-iteration-count:infinite;
        tốc độ di chuyển (chậm xong nhanh, ...):
        animation-timing-function: ease;
        */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.8rem;
    animation: moveInRight 1s ease-out; }

/* --- section-about ---*/
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: .2rem;
  cursor: pointer;
  background-image: linear-gradient(to right, #8e9efc, #1c3eff);
  color: transparent;
  -webkit-background-clip: text;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(5deg) scale(1.1);
    /* skewY: độ nghiên theo trục Y, scale: phóng to lên */
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

/*---------------*/
@media (max-width: 600px) {
  .heading-primary--main {
    letter-spacing: 1rem;
    font-size: 5rem; } }

@media (max-width: 600px) {
  .heading-primary--sub {
    letter-spacing: .5rem; } }

@media (max-width: 900px) {
  .heading-secondary {
    font-size: 3rem; } }

@media (max-width: 600px) {
  .heading-secondary {
    font-size: 2.5rem; } }

/* utilities: chứa các setting các properties của các element bổ sung (như muốn set margin thì sẽ dùng class u-margin)*/
.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

/* --- Component --- */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .2;
  overflow: hidden; }
  .bg-video__content {
    /* kết hợp vs overflow ở trên sẽ giúp video k bị tràn và vừa vs section*/
    height: 100%;
    width: 100%;
    object-fit: cover; }

/* Component: những thuộc tính có thể tái sử dụng, ở dự án này là file button */
/* ----------- header -----------*/
.btn:link, .btn:visited {
  /* visited: thẻ a khi đã đc click*/
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.6rem;
  position: relative;
  transition: all .2s; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10rem;
  transition: all .4s; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  color: #777777;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
  /*thay đổi trạng thái của phần tử trước khi bắt đầu sau khi kết thúc Animation.*/ }

.btn--blue {
  background-color: #5a73fc;
  color: #fff; }
  .btn--blue::after {
    background-color: #5a73fc; }

/* ---------- about us ------------*/
.btn-text:link, .btn-text:visited {
  color: #5a73fc;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #5a73fc;
  padding: .3rem;
  font-size: 1.6rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #5a73fc;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  /* chiều sâu của card, số càng nhỏ thì hình càng gần */
  position: relative;
  height: 45rem;
  /*-----------*/ }
  .card__side {
    backface-visibility: hidden;
    /* ẩn phần phía dưới của element */
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    height: 45rem;
    transition: all .8s ease;
    border-radius: 5rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
    /*Thuộc tính overflow xác định điều gì sẽ xảy ra nếu một thành phần box tràn nội dung*/ }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right, #8e9efc, #1c3eff); }
      .card__side--back-3 {
        background-image: linear-gradient(to right, #55c57a, #28b485); }
  .card__picture {
    background-size: cover;
    background-blend-mode: screen;
    /*giá trị screen để màu của background sẽ trộn (blend) với hình ảnh background phía dưới*/
    height: 23rem;
    clip-path: ellipse(80% 70% at 50% 30%); }
    .card__picture--1 {
      background-image: linear-gradient(to right, #ffb900, #ff7730), url("../img/involve1.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right, #8e9efc, #1c3eff), url("../img/involve2.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right, #55c57a, #28b485), url("../img/involve3.jpg"); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    border-radius: 5rem;
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    /* border-radius cả 2 đầu chữ "Control" và "Your time", nếu k có thuộc tính này 2 chữ sẽ bị tính là 1 block*/ }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.85), rgba(28, 62, 255, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.85), rgba(40, 180, 133, 0.85)); }
  .card__details {
    padding: 3rem;
    color: #777777; }
    .card__details ul {
      list-style: none;
      width: 70%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #dbdbdb; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 5rem; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  @media (max-width: 900px) {
    .card {
      height: auto; }
      .card__side {
        backface-visibility: hidden;
        position: relative;
        border-radius: 5rem 5rem 0rem 0rem;
        height: auto; }
        .card__side--back {
          transform: rotateY(0);
          border-radius: 0rem 0rem 5rem 5rem; }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 6rem; }
      .card:hover .card__side--front {
        transform: rotateY(0); } }

/* --- img phần about us ---*/
.composition {
  position: relative;
  /* để element cha composition là relative để có thể chỉnh vị trí các images xung quanh element cha này.*/ }
  .composition__photo {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .2rem;
    outline-offset: 1rem;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    /* chỉnh vị trí cho từng img */
    /*------------*/ }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 900px) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.1); } }
    .composition__photo--p2 {
      right: 2rem;
      top: 2rem; }
      @media (max-width: 900px) {
        .composition__photo--p2 {
          top: -1rem;
          right: 0;
          transform: scale(1.2); } }
    .composition__photo--p3 {
      left: 10%;
      top: 10rem; }
      @media (max-width: 900px) {
        .composition__photo--p3 {
          top: 0;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.5rem solid #5a73fc;
      transform: scale(1.05);
      /*to ảnh đc hover*/
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20;
      /*xếp những img được hover lên trên*/ }
    .composition__photo:hover .composition__photo__photo:not(:hover) {
      /*những img k được hover*/
      transform: scale(0.9); }
    @media (max-width: 900px) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.3333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
        margin-bottom: 3rem; } }

.enroll {
  background-image: radial-gradient(150% 200% ellipse at -15%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url("../img/background3.jpg");
  /*150% 200% ellipse at -15%: tạo hình như clip-path*/
  /*radial-gradient: chuyển màu từ tâm ra ngoài (ở đây chuyển từ màu ra hình ảnh*/
  background-size: cover;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 5rem;
  height: 50rem;
  /*-------------*/ }
  .enroll__form {
    padding: 6rem; }
  @media (max-width: 1200px) {
    .enroll {
      background-image: radial-gradient(150% 200% ellipse at -15%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 65%, transparent 35%), url("../img/background3.jpg"); } }
  @media (max-width: 900px) {
    .enroll {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url("../img/background3.jpg"); } }
  @media (max-width: 1200px) {
    .enroll__form {
      width: 65%; } }
  @media (max-width: 900px) {
    .enroll__form {
      width: 100%; } }

.form {
  /*Chúng ta sử dụng “+” (adjacent character ) để chỉ element ngang hàng và liền ngay phía sau của &__input.
        Chú ý: là phải element liền ngay phía sau, giả sử giữa &__input và &__label còn có 1 số element
        ngang hàng nữa là &__content, &__figure, … thì “+” sẽ không sử dụng được mà chúng ta sẽ phải sử dụng dấu "~"
        Vị trí element &__label phải để ngay sau &__input trong file html*/ }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    color: inherit;
    border: none;
    border-radius: .2rem;
    border-bottom: 3px solid transparent;
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 2rem;
    width: 50%;
    /* :invalid (các property sẽ xuất hiện khi input truyền vào không hợp lệ, giống email thì phải có kí tự @, …). */ }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      border-bottom: 3px solid #5a73fc; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
    .form__input::-webkit-input-placeholder {
      color: #777777; }
  .form__input:placeholder-shown + .form__label {
    /* khi placeholder hiện thì label bị ẩn ... */
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
    transition: all .3s; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }
  .form__radio-group {
    width: 30%;
    display: inline-block; }
  .form__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 5rem; }
  .form__radio-button {
    height: 3rem;
    width: 3rem;
    border: 0.5rem solid #5a73fc;
    border-radius: 10rem;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.4rem; }
  .form__radio-button::after {
    /*vẽ vòng tròn nằm bên trong radio button */
    opacity: 0;
    content: "";
    display: block;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5a73fc;
    transition: opacity .2s; }
  .form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    /* (radio button được click) thì .form__radio-button:after mới có opacity là 1 */
    opacity: 1; }
  .form__radio-input {
    /*xóa radio button ban đầu*/
    display: none; }

.navigation__checkbox {
  display: none;
  /* (chỉ cần click vào label thì nó cũng tự check checbox 
        do label đã link đến checkbox thông qua id của checkbox, for=”navi-toggle”).*/ }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15); }

.navigation__background {
  background-image: radial-gradient(#5a73fc, #1c3eff);
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  transition: transform .8s; }

.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 1500;
  transition: all .8s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  border-radius: 4rem;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: radial-gradient(150% 200% ellipse at 115%, #fff 0%, #fff 50%, transparent 50%);
  background-size: 252%;
  transition: all .4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #5a73fc;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.2rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3.5rem;
    height: .3rem;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

/*---------------*/
@media (max-width: 900px) {
  .navigation__button {
    top: 4rem;
    right: 4rem; } }

@media (max-width: 600px) {
  .navigation__button {
    top: 3.5rem;
    right: 3.5rem; } }

@media (max-width: 900px) {
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem; } }

@media (max-width: 600px) {
  .navigation__background {
    top: 4rem;
    right: 3.5rem; } }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  /* column-count chính là số cột được chia, column-gap là khoảng cách giữa các cột, 
    column-rule là vạch ngăn cách giữa các cột,
    còn hyphens dùng để khi có chữ quá dài mà chữ đó phải xuống dòng thì sẽ có gạch nối giữa 2 phần của dòng đó.*/ }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    border-radius: 3rem;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .4s .2s; }
  .popup__left {
    width: 33.333333%;
    display: table-cell;
    /* giúp element hiển thị như 1 cột trong table (các cột sẽ hiển thị trên cùng 1 hàng, và có cùng chiều cao)*/ }
  .popup__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__text {
    font-size: 1.8rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #777777;
    hyphens: auto; }
  .popup__close:link, .popup__close:visited {
    color: #333;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none; }
  .popup__close:hover {
    color: #5a73fc; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }

.skill-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem 2.5rem 5rem 2.5rem;
  text-align: center;
  border-radius: 5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all .3s; }
  .skill-box__icon {
    font-size: 6rem;
    margin-bottom: 1.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #8e9efc, #1c3eff);
    -webkit-background-clip: text;
    color: transparent; }
  .skill-box:hover {
    cursor: pointer;
    transform: translateY(-1.5rem) scale(1.03); }

.testimonial {
  width: 80%;
  padding: 6rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.15);
  font-size: 1.6rem;
  border-radius: 100rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 9rem;
  /* --------------- */ }
  .testimonial__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    position: relative;
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem);
    margin-top: -1rem;
    shape-outside: circle(50% at 50% 50%);
    /*cho chữ cong theo hình*/ }
  .testimonial__img {
    width: 100%;
    transform: translateY(-2rem);
    transition: all .3s; }
  .testimonial__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s; }
  .testimonial:hover .testimonial__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .testimonial:hover .testimonial__img {
    transform: scale(1.05);
    filter: blur(0.5rem) brightness(70%); }
  @media (max-width: 900px) {
    .testimonial {
      width: 140%;
      margin-left: -20%; } }
  @media (max-width: 600px) {
    .testimonial {
      width: 100%;
      margin-left: auto; } }

/* --- Layout --- */
/* Layout sẽ chứa các phần tạo nên layout của website như footer, navbar, header, … */
.header {
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.8), rgba(28, 62, 255, 0.8)), url("../img/background1.jpg");
  background-size: cover;
  position: relative;
  height: 95vh;
  -webkit-clip-path: ellipse(60% 60% at 50% 33%);
  clip-path: ellipse(60% 60% at 50% 33%); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo {
    height: 7rem; }
  .header__logo-box {
    top: 3rem;
    left: 3rem; }

/*------------------*/
@media (max-width: 600px) {
  .header {
    clip-path: ellipse(60% 50% at 50% 20%); } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    /*chọn toàn bộ element có class bắt đầu bằng "col-"*/
    /* ^: dấu bắt đầu, $: dấu kết thúc (chọn element có class kết thúc bằng "col-"*/
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      /*set margin-bottom cho tất cả row ngoại trừ col cuối cùng */
      margin-right: 6rem; }
  .row:not(:last-child) {
    /*set margin-bottom cho tất cả row ngoại trừ row cuối cùng của thẻ div cha */
    margin-bottom: 8rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/ 2);
    /* 1/2 chiều rộng của row trừ đi khoảng cách giữa các column*/
    float: left; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/ 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2*6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3*6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3*6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3*6rem) / 4) + 2*6rem); }

/*-----------------*/
@media (max-width: 900px) {
  .row:not(:last-child) {
    margin-bottom: 6rem; } }

@media (max-width: 900px) {
  .row {
    max-width: 50rem;
    padding: 0 3rem; } }

@media (max-width: 900px) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem; } }

@media (max-width: 900px) {
  .row [class^="col-"] {
    width: 100% !important; } }

/* --- Pages --- */
.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 20rem;
    height: auto; }
  .footer__title {
    display: block;
    color: #5a73fc; }
  .footer__copyright {
    border-top: 1px solid #f7f7f7;
    padding-top: 2rem;
    width: 70%;
    /* giúp đoạn paragraph của copy right thu gọn về bên trái.*/
    float: right; }
  .footer__navigation {
    border-top: 1px solid #f7f7f7;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 5rem;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #5a73fc;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.05); }

/*-----------------*/
@media (max-width: 900px) {
  .footer {
    padding: 8rem 0; } }

@media (max-width: 900px) {
  .footer__logo-box {
    margin-bottom: 6rem; } }

@media (max-width: 900px) {
  .footer__navigation {
    width: 100%;
    text-align: center; } }

@media (max-width: 900px) {
  .footer__copyright {
    width: 100%;
    text-align: center;
    float: none; } }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -25rem; }
  @media (max-width: 600px) {
    .section-about {
      padding: 20rem 0;
      margin-top: -40rem; } }

.section-skills {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.8), rgba(28, 62, 255, 0.8)), url("../img/background2.jpg");
  background-size: cover;
  position: relative;
  padding: 20rem 0;
  clip-path: ellipse(70% 50% at 50% 50%);
  margin-top: -20rem; }

.section-courses {
  background-color: #f7f7f7;
  padding: 25rem 0 10rem 0;
  margin-top: -20rem; }

.section-testimonials {
  position: relative;
  padding: 5rem 0; }

.section-enroll {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, #8e9efc, #1c3eff); }
