.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .2;
    overflow: hidden;
    &__content {
        /* kết hợp vs overflow ở trên sẽ giúp video k bị tràn và vừa vs section*/
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}